/* Chats.css */

.chat-container {
    display: flex;
    height: 100vh;
  }
  
  .chat-list {
    flex: 0 0 20%; /* Reduced person card width */
    max-width: 250px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #ccc;
  }
  
  .chat-card {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chat-card:hover {
    background-color: #f0f0f0;
  }
  
  .chat-card p {
    margin: 0;
  }
  
  .chat-details {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .message-container {
    margin-bottom: 10px; /* Add vertical spacing between messages */
    overflow: auto; /* Ensure overflow behaves correctly */
  }
  
  .sender,
  .receiver {
    display: block; /* Ensure each message is displayed on a new line */
    max-width: 70%; /* Increased chat window size */
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px; /* Add vertical spacing between messages of sender and receiver */
  }
  
  .sender {
    float: right;
    clear: both; /* Ensure sender messages are displayed one after another */
    background-color: #DCF8C6;
  }
  
  .receiver {
    float: left;
    clear: both; /* Ensure receiver messages are displayed one after another */
    background-color: #F0F0F0;
  }
  