.chat-card {
    margin-bottom: 10px;
}

.chat-box {
    background-color: #FDD8C4; /* Skin color */
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 300px; /* Set the maximum width */
}


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info {
    flex-grow: 1;
}

/* Chat Input Bar */

.input-bar-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
  }
  
  .input-bar {
    flex: 1; /* Take remaining space */
    margin-right: 10px; /* Add margin for spacing */
  }
  
  .chat-button {
    flex-shrink: 0; /* Prevent button from shrinking */
  }
  